@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@300&family=Vazirmatn:wght@200&display=swap');

html {
    font-family: 'Vazirmatn', sans-serif;
    overflow: hidden;
}

.All {
    position: relative;
    width: fit-content;
    min-width: 100px;
    max-width: 800px;
    height: 60px;
    background-color: #1b1f20c0;
    color: white;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0 15px;
    padding-right: 70px;
    margin-bottom: 25px;
}

.NotificationsContainer {
    position: fixed;
    top: 12px;
    right: 0px;
    width: fit-content;
    max-width: 800px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Notify {
    position: relative;
    left: 60px;
    font-size: 15px;
    text-align: right;
    width: 100%;
    letter-spacing: 0.5px;
    color: #ffffff;
}

.NotifyBarLineTimerWrapper {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 0px;
    overflow: hidden;
}

.NotifyBarLineTimer {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: red;
}

.NotifyBarLineTimer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: black;
}

@keyframes timerReverse {
    from {
        left: 100%;
        width: 0%; 
    }
    to {
        left: 0%;
        width: 100%;
    }
}

@keyframes start {
    from {
        right: -330px;
        opacity: 0%;
    }
    to {
        right: 20px;
        opacity: 100%;
    }
}

@keyframes end {
    from {
        right: 20px;
        opacity: 100%;
    }
    to {
        right: -330px;
        opacity: 0%;
    }
}


/* https://discord.gg/hZpJpAu3Zt */